:root {
    /* COLOR PALETTE SOURCE https: //colorhunt.co/palette/f38181fce38aeaffd095e1d3 */
    --light-red: rgb(243, 129, 129);
    --light-orange: rgb(252, 227, 138);
    --light-lime: rgb(234, 255, 208);
    --light-blue: rgb(149, 225, 211);

    /* PERSONAL MANUAL COLORS */
    --navbar-bgcolor: rgb(40, 40, 40);
    --paragraph: #FFFBFE;
    --header2: #D0CFCF;
    --header2dark: #7A7D7D;

    /* FRONTEND PRACTICE PROVIDED COLORS */
    --provided-light-yellow: #fbffa7;
    --provided-light-blue: #b1c5ff;
    --provided-light-green: #b6ffc0;
    --provided-orange-red: #ff764d;
    --provided-purple: #d5b3ff;
    --provided-blue: #0000ff;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    /* GOT THE FOLLOWING FROM https: //css-tricks.com/box-sizing/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    /* GOT THE FOLLOWING FROM https: //css-tricks.com/box-sizing/ */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 4vw;
}

h2 {
    /* margin-top: 4vh; */
    font-family: 'DM Serif Display', serif;
    font-size: 2.4vw;
    color: var(--header2);
}

p {
    margin-top: 4vh;
    font-size: 1.6vw;
    color: var(--paragraph);
    line-height: 1.5;
}

/* TOP RIBBON - COMPANY NAME SECTION */
.companyNameSection {
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(16px);
    z-index: 2;
    display: flex;
    align-items: center;
}

.companyName {
    margin-left: 2.4vw;
    color: var(--provided-orange-red);
}


/* SETTINGS FOR THE LEFT NAV SECTION */
/* SETTINGS FOR THE LEFT NAV SECTION */
nav {
    width: 16vw;
    height: 100vh;
    background: linear-gradient(var(--navbar-bgcolor), rgb(0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    color: var(--header2dark);
    z-index: 1;
}

.navBar {
    height: 80vh;
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.navBarLinksTop {
    font-size: 1.6vw;
}

.navBarLinksBottom {
    font-size: 1vw;
}

.navBarLinksTop ul,
.navBarLinksBottom ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navLinks,
.loginLinks {
    padding: 1.6vh 0 1.6vh 3.2vw;
}

.navLinks:hover,
.loginLinks:hover {
    cursor: pointer;
    background-color: rgb(00, 00, 00);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--header2);
}

.navLinks:first-child {
    font-weight: 700;
    color: var(--provided-light-blue);
}

.navLinks:nth-child(2) {
    font-weight: 700;
    color: var(--provided-light-green);
}

.navLinks:nth-child(3) {
    font-weight: 700;
    color: var(--provided-light-yellow);
}


/* SETTINGS FOR THE HERO SECTION */
/* SETTINGS FOR THE HERO SECTION */
.heroSection {
    width: 84vw;
    position: relative;
    top: 0;
    left: 16vw;
    overflow-x: hidden;
}

.heroBgImage {
    background-image: url(https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=1.25&fit=crop&fm=jpg&h=611&ixjsv=1.1.3&w=1280);
    width: 100vw;
    height: 160vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.heroText {
    position: absolute;
    bottom: 56vh;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(32px);
    padding: 4vh 4vw 8vh 4vw;
    text-align: left;
}

.heroText h1 {
    color: var(--provided-light-blue);
}

.underline {
    text-decoration: underline;
}


/* SETTINGS FOR THE MAIN SECTIONS */
/* SETTINGS FOR THE MAIN SECTIONS */
main {
    width: 84vw;
    margin-left: 16vw;
}


/* IMAGE DIVIDER SETTINGS */
.imageDivider {
    width: 100%;
    height: max-content;
    display: flex;
}

.imageLeft,
.imageRight {
    width: 50%;
    border: 24px solid #000000;
}

.imageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}

.imageRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}

/* END OF IMAGE DIVIDER SETTINGS */


.mainSectionOne {
    color: white;
    padding: 8vh 8vw 4vh 8vw;
    background-color: rgb(0, 0, 0);
}


/* VIDEO DIVIDER SETTINGS */
.videoDivider {
    position: relative;
    height: 80vh;
}

.videoDividerTopHalf,
.videoDividerBottomHalf {
    height: 50%;
}

.videoDividerTopHalf {
    background-color: rgb(0, 0, 0);
}

.video {
    width: auto;
    height: auto;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--provided-light-blue);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.video iframe {
    width: 50vw;
    height: 50vh;
}

/* END OD VIDEO DIVIDER SETTINGS */

.mainSectionTwo {
    display: flex;
    align-items: center;
    column-gap: 2vw;
    padding: 4vh 4vw 8vh 4vw;
}

.mainSectionTwo h2 {
    width: 56%;
    font-size: 3.2vw;
    color: var(--header2dark);
}

.mainSectionTwo p {
    width: 44%;
    color: rgb(0, 0, 0);
    margin: 0;
}


/* IMAGE DIVIDER TWO - GRADIENT */
.imageDividerTwo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(251, 255, 167, 1) 20%, rgba(182, 255, 192, 1) 40%, rgba(177, 197, 255, 1) 60%, rgba(213, 179, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);    
    padding: 4vh 0;
}

.imageDividerTwoMid {   
    width: fit-content; 
    height: fit-content;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(251, 255, 167, 1) 20%, rgba(182, 255, 192, 1) 40%, rgba(177, 197, 255, 1) 60%, rgba(213, 179, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);    
    border-radius: 0 50% 50% 50%;
    padding: 2vw;
    border: 2vw solid white;
}

.imageDividerTwoMid img {
    width: 100%;
    border-radius: 0 50% 50% 50%;
}

.imageDividerTwoLeft, .imageDividerTwoRight {
    width: 202px;
    height: 202px;
}

.imageDividerTwoLeft img, .imageDividerTwoRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50% 50% 50% 0;
}
